/* Reset default margin */
* {
    margin: 0;
    /* Uncomment the following line to add a background color to all elements */
    /* background-color: rgba(0, 0, 0, 0.642); */
}

/* Landing page styles */
.landingpage {
    box-sizing: border-box;
    color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.5s;
}

/* Background video styling */
.video-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    object-fit: cover;
}

/* Background overlay */
.bg-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    z-index: 0;
}

/* Text container on the home page */
.home-text {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    margin-top: 2%;
}

/* Main header text */
.lh1 {
    color: hsl(0, 0%, 28%);
    font-size: 50px !important;
    font-weight: bold !important;
    font-family: monospace;
    letter-spacing: 7px !important;
    cursor: pointer;
    text-transform: uppercase;
    padding: 64px 0px 0px 25px;
    background: linear-gradient(to right, hsl(0, 0%, 30%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 30%) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

/* Subheading text with typewriter effect */
.lp {
    padding-bottom: 5%;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: hsl(0, 0%, 68%);
    font-weight: bold !important;
    font-family: "Anonymous Pro", monospace !important;
    letter-spacing: 7px !important;
    overflow: hidden;
    white-space: nowrap;
    /* font-size: 2em; Text size */
    position: relative;
}

.lp::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 2em; /* Adjust this value to change the cursor height */
    background-color: hsl(0, 0%, 80%);
    animation: blinkTextCursor 500ms infinite; /* Blinking animation */
    vertical-align: text-bottom; /* Aligns the cursor to the bottom of the text */
}

/* Home button styling */
.home-btn {
    width: 6em;
    height: 2em;
    border: 2px solid white;
    border-radius: 0.25em;
    background-color: rgba(255, 255, 255, 0.457);
    z-index: 1;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation-name: fade;
    animation-duration: 8s;
    margin-bottom: 10%;
}


/* ---------- Animations --------------- */
@keyframes fade {
    0% {
        opacity: 0;
        margin-left: 3em;
    }
    100% {
        opacity: 1;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 710px;
    }
}

@keyframes blinkTextCursor {
    from {
        background-color: hsl(0, 0%, 80%);
    }
    to {
        background-color: transparent;
    }
}

@keyframes shine {
    0% {
        background-position: 0;
    }
    60% {
        background-position: 600px;
    }
    100% {
        background-position: 600px;
    }
}
